/*Nama : Bayu Agaluh W.
NIM  : 121140097
Kelas Prak : RC*/ 
*{
    font-family: candara
}
.bg {
    background-color: #001524;
    margin: 10px;
}

.header {
    background-color: #445D48;
    padding: 20px;
    display: flex;
    justify-content: start;
}

.foto{
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nama {
    color:white
}

.navigasi {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 5px;
    background-color: #D6CC99;
}

.menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}

.tentang {
    margin: 20px;
    padding: 20px;
    background-color: #D6CC99
}

.video {
    margin: auto;
    display: flex;
    justify-content: center;
}

.pengalaman {
    margin: 20px;
    padding: 20px;
    background-color: #D6CC99;
}   

.tabel {
    width: 100%;    
}

.kontak {
    margin: 20px;
    padding: 20px;
    background-color: #D6CC99;
}

.kontak button {
    background-color: #FDE5D4;
}

.footer {
    display: flex;
    justify-content: center;
    background-color:#001524;
    color:white;
}
